@using GuessMyNumber.Enums
@model GuessMyNumber.Models.Guess

@{
    ViewData["Title"] = "Zgadnij";
}

<h1>@ViewData["Title"]</h1>
<h3>Try count: @ViewBag.GuessResult.TryCount</h3>

@{
    GameResult gameResult = ViewBag.GuessResult.GameResult;

    if(gameResult != GameResult.None)
    {
        <h3>Guess result: @gameResult</h3>
    }
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Guess">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Number" class="control-label"></label>
                <input asp-for="Number" class="form-control" min="1" max="100" required/>
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary mt-2" value="Zgadnij"/>
            </div>
        </form>
    </div>
</div>

